*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
}

.gun{
  transform: rotateY(180deg);
  max-width: 100%;
  height: auto;
 
}

.bullet{
    max-width: 100%;
    height: 40px;
    position: relative;
    top: 110px;
    right: 100px;
    animation-name: shoot;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    display: none;
}

#gun{
    display: none;
}

@keyframes shoot {
    from{
        transform: translateX(-40spx);
    }

    to{
        transform: translateX(1500px);
    }
}

@media only screen and (max-width: 650px) {
   .gun{
       height: 140px;
   }

   .bullet{
       height: 20px;
       position: absolute;
       top: 30px;
       left: 150px;
       max-width: 100%;
   }
}